/**
* @tokens Spacing
* @presenter Spacing
*/
:root {
  --bx-size-tiny: 0.75rem;
  --bx-size-small: 0.875rem;
  --bx-size-medium: 1rem;
  --bx-size-large: 1.25rem;
  --bx-size-xl: 1.5rem;
  --bx-size-xxl: 2rem;
  --bx-size-xxxl: 3rem;
}
