/**
* @tokens Spacing
* @presenter Spacing
*/
:root {
  --bx-size-font-tiny: 0.75rem;
  --bx-size-font-small: 0.875rem;
  --bx-size-font-medium: 1rem;
  --bx-size-font-large: 1.25rem;
  --bx-size-font-xl: 1.5rem;
  --bx-size-font-xxl: 2rem;
  --bx-size-font-xxxl: 3rem;
  --bx-size-font-base: 1rem;
}
